<div class="container-fluid">
  <div class="container-fluid mb-3">
    <button class="btn btn-primary" [routerLink]="['/employee']">Danh sách Nhân viên</button>
  </div>
  <div class="container-fluid bg-white p-3">
    <h3 class="title-component">
      THÔNG TIN NHÂN VIÊN
    </h3>

    <table class="table" *ngIf="employee">
      <thead>
      <tr>
        <th scope="col" class="col-4">Thu muc</th>
        <th scope="col" class="col-8">Noi dung</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Tên Nhân viên</th>
        <td>{{employee.employeeName}}</td>
      </tr>
      <tr>
        <th scope="row">Số Cmnd:</th>
        <td>{{employee.employeeIdCard}}</td>
      </tr>
      <tr>
        <th scope="row">Ngày sinh</th>
        <td>: {{employee.employeeBirthday}}</td>
      </tr>
      <tr>
        <th scope="row">Số điện thoại</th>
        <td>: {{employee.employeePhone}}</td>
      </tr>
      <tr>
        <th scope="row">Địa chỉ</th>
        <td>{{employee.employeeAddress}}</td>
      </tr>
      <tr>
        <th scope="row">Bộ phận</th>
        <td>{{employee.division.divisionName}}</td>
      </tr>
      <tr>
        <th scope="row">Chức vụ</th>
        <td>{{employee.position.positionName}}</td>
      </tr>
      <tr>
        <th scope="row">Bằng cấp</th>
        <td>{{employee.educationDegree.educationName}}</td>
      </tr>
      <tr>
        <th scope="row">Lương</th>
        <td>{{employee.employeeSalary}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
