<div class="app" *ngIf="currentUser">
  <div class="app-directive">
    <span><i class="las la-angle-left"></i>Mua thêm sản phẩm</span>
    <span>Giỏ hàng của bạn</span>
  </div>
  <div class="app__content">
    <div class="app__content-product" *ngFor="let item of productInOrders">
      <div class="app__content-product-infor">
        <div class="product__infor-img">
          <img src="{{item.productIcon}}" alt="">
          <div class="delete-icon"><span><i class="las la-minus-circle"></i></span>Xóa</div>
        </div>
        <div class="product__infor-description">
          <h4>{{item.productName}}</h4>
        </div>
      </div>
      <div class="app__content-product-price">
        <div>
          <span>{{item.productPrice|formatText}}<sup>đ</sup></span>
          <span>20.000.000 <sup>đ</sup></span>
        </div>
        <ul (click)="decrease()">
          <li>-</li>
          <li>{{item.count}}</li>
          <li (click)="increase()">+</li>
        </ul>
      </div>
    </div>
    <div class="coutn__bill" *ngIf="total">
      <p class="code-discount"><i class='bx bxs-discount'></i>Sử dụng mã giảm giá</p>
      <div class="provisional">
        <span>Tạm tính (1 sản phẩm):</span>
        <span>{{total|formatText}}</span>
      </div>
      <div class="total-bill">
        <span>Tổng  tiền:</span>
        <span>{{total|formatText}}</span>
      </div>
    </div>
    <div class="infor-customer">
      <h4>Thông tin khách hàng</h4>
      <div  class="infor-customer-name"><span>{{currentUser.fullName}}</span> - <span>{{currentUser.phone}}</span> <span>Sửa</span>
      </div>
      <h4>Chọn cách thức nhận hàng</h4>
      <div class="delivery-way">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" (click)="cancelChooseAddress()">
          <label class="form-check-label" for="inlineRadio1">Nhận hàng tại siêu thị</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" (click)="chooseAddress(element)" #element>
          <label class="form-check-label" for="inlineRadio2">Giao hàng tận nơi</label>
        </div>
      </div>
      <div [style]="{'display':isChooseAddress?'block':'none'}">
        <div class="current_user-address" *ngIf="currentUser.address; else elseBlock">
          {{currentUser.address}}

        </div>
        <ng-template  #elseBlock>
          <div class="current_user-form">
            <input type="text" placeholder="Tinh..." class="address-input" (focus)="controlProvince()" [value]="province">
            <div class="address-list province" [style]="{'display':isDisplayProvince?'block':'none'}">
              <ul>
                <li *ngFor="let item of provinces" (click)="chooseProvince(item.code)">{{item.name}}</li>
              </ul>
            </div>
            <input type="text" placeholder="Huyện..." class="address-input" (focus)="controlDistrict()" [disabled]="isChooseDistrict" [value]="district">
            <div class="address-list district" [style]="{'display':isDisplayDistrict?'block':'none'}">
              <ul>
                <li *ngFor="let item of districts" (click)="chooseDistrict(item.code)">{{item.name}}</li>
              </ul>
            </div>
            <input type="text" placeholder="Phường..." class="address-input" (focus)="controlWard()" [disabled]="isChooseWard" [value]="ward">
            <div class="address-list ward" [style]="{'display':isDisplayWard?'block':'none'}">
              <ul>
                <li *ngFor="let item of wards" (click)="chooseWard(item.code)">{{item.name}}</li>
              </ul>
            </div>
            <div class="street">
              <input type="text" placeholder="Nhập địa chỉ đường, VD: 713 Nguyễn tất thành" #element [disabled]="isChooseStreet" (change)="createStreet(element.value)">
            </div>
          </div>
        </ng-template>
      </div>

    </div>
    <div class="required-part">
      <input type="text" class="form-control required-part-input" placeholder="Yêu cầu khác (Không bắt buộc)">
        <div class="required-part-group">
          <input type="checkbox">
          <label>Gọi Cho người khác nhận hàng (Nếu không có)</label>
        </div>
      <div class="required-part-group">
        <input type="checkbox">
        <label>Chuyển danh bạ dữ liệu cho máy mới</label>
      </div>
      <div class="required-part-group">
        <input type="checkbox">
        <label>Xuất hóa đơn công ty</label>
      </div>
    </div>
    <div class="submit-part">
      <div class="total-bill">
        <span>Tổng  tiền:</span>
        <span>{{total|formatText}}</span>
      </div>
      <button type="button" (click)="checkout()">Đặt hàng</button>
    </div>
  </div>
</div>
