<div class="container">
  <div class="container-fluid d-flex justify-content-between p-3">
    <h2>Dánh sách máy tính</h2>
    <button class="btn btn-primary" [routerLink]="['/admin',{outlets:{'admin':['product',{outlets:{'product':['computer','create']}}]}}]"><span><i class="las la-plus"></i></span>Thêm mới</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên sản phẩm</th>
        <th>Hinh anh san pham</th>
        <th>Hang san pham</th>
        <th colspan="3" style="text-align: center">Thao tac</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of computerList,index as i">
        <td>{{i}}</td>
        <td>{{item.computerName}}</td>
        <td><img src="{{item.mainImage}}" alt=""></td>
        <td>{{item.manufacture.manufactureName}}</td>
        <td style="color: orange; text-align: center" [routerLink]="['/admin',{outlets:{'admin':['product',{outlets:{'product':['computer','update']}}]}}]"><span><i class="las la-edit"></i></span></td>
        <td style="color:red;text-align: center" (click)="deleteItem(item.computerId)"><span><i class="las la-trash-alt"></i></span></td>
        <td style="color: #04aa6d;text-align: center" [routerLink]="['/admin',{outlets:{'admin':['product',{outlets:{'product':['computer','view']}}]}}]"><span><i class="las la-eye"></i></span></td>
      </tr>
      </tbody>
    </table>
    <app-pagination [currentPage]="page"></app-pagination>
  </div>
</div>
