<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="lab la-accusoft"></span> <span>FURAMA</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" class="sidebar-item"><span
        class="las la-igloo"></span><span>Home</span></a></li>
      <li><a [routerLink]="['/customer']" [routerLinkActive]="['active']" class="sidebar-item"><span
        class="las la-users"></span><span>Customer</span></a></li>
      <li><a [routerLink]="['/employee']" [routerLinkActive]="['active']" class="sidebar-item"><span
        class="las la-clipboard"></span><span>Employee</span></a></li>
      <li><a [routerLink]="['/contract']" [routerLinkActive]="['active']" class="sidebar-item"><span
        class="las la-users"></span><span>Contact</span></a></li>
      <li><a class="sidebar-item"><span class="las la-receipt"></span><span>Service</span></a></li>
      <li><a [routerLink]="['/account']" [routerLinkActive]="['active']" class="sidebar-item"><span
        class="las la-user-circle"></span><span>Accounts</span></a></li>
      <li><a class="sidebar-item"><span class="las la-clipboard-list"></span><span>Tasks</span></a></li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h1>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label> Dashboard
    </h1>
    <div class="btn-login" (click)="controlLogin()" [ngStyle]="{'display':isLogin?'none':'flex'}">
      <span><i class="las la-sign-in-alt"></i></span><span>Login</span></div>
    <div class="user-wrapper" [ngStyle]="{'display':isLogin?'flex':'none'}">
      <div>
        <h4 style="font-size: 20px">Welcome,{{nameUser}}</h4>
      </div>
      <img style="cursor: pointer;margin-left: 8px"
           *ngIf="nameUser" src="assets/img.png" alt=""
           height="30px" width="30px" >
      <div (click)="logout()" class="logout"> <span><i class='bx bx-log-out'></i></span>Log out</div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
    <div class="login" [ngStyle]="{'display':isDisplayLogin?'flex':'none'}">
      <div class="overfley" (click)="controlLogin()" ></div>
      <div class="container w-50 model-container">
        <div class="container-fluid">
          <h4>Đăng nhập</h4>
        </div>
        <form  [formGroup]="userGroup" (ngSubmit)="login()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>
</div>

