ul{
  margin: 0;
}
.control{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  right: 0;
  border-bottom: 1px solid #222222;
}
.control__main ul {
  display: flex;
  justify-content: start;
  padding: 10px 20px 0;
  background-color: #e7eaed;
}

.control__main ul li {
  padding: 5px 10px;
  text-align: center;
  background: #e7eaed;
  text-transform: capitalize;
  color: #111111;
  transition: all 0.3s linear;
  /*display: flex;*/
  font-weight: 400;
  cursor: pointer;
  min-width: 150px;
  position: relative;
}

.control__main ul li span {
  display: block;
  color: inherit;
  padding: 4px 10px;
  font-size: 13px;
}

.control__main ul li span i {
  padding-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.control__sub {
  position: relative;
  height: 115px;
  background-color: #fff;
}

.control__sub-item ul {
  display: flex;
}

.tab-single {
  padding: 0 10px;
  text-align: center;
  border-right: 1px solid #cccccc;
}

.tab-single ul li {
  font-size: 13px;
  font-weight: 400;
  padding: 0 15px;
  cursor: pointer;

}

.tab-single p {
  font-size: 13px;
  color: #666666;
  margin-top: 20px;
}

.tab-single ul li span, i {
  display: block;
}

.control__sub-item ul li i {
  font-size: 40px;
}


.content {
  margin-top: 165px;
  display: flex;
  position: relative;
}

.sidebar {
  width: 250px;
  background-color: #e7eaed;
  padding: 10px;
  position: fixed;
  bottom: 0;
  top: 165px;
  border-right: 1px solid #cccccc;
}

.sidebar h5 {
  color: #222222;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 400;
}

.sidebar ul li {
  display: block;
  font-size: 15px;
  color: #222222;
  line-height: 20px;
  margin-bottom: 20px;

}

.content__main {
  width: calc(100vw - 250px);
  position: relative;
  left: 250px;
  padding: 20px;
  max-width: 1200px;
}

.active {
  background-color: #ffffff !important;
}
