<div class="container">
  <h2>Dánh sách máy tính</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên sản phẩm</th>
        <th>Giá nhập kho</th>
        <th>Giá niêm yết</th>
        <th>Giảm giá</th>
        <th>Danh mục</th>
        <th>Loại máy tính</th>
        <th>CPU</th>
        <th>RAM</th>
        <th>Ổ cứng</th>
        <th>Card đồ họa</th>
        <th>Màn hình</th>
        <th>Hệ điều hành</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of computerList,index as i">
        <td>{{i}}</td>
        <td>{{item.computerName}}</td>
        <td>{{item.computerImportPrice}}</td>
        <td>{{item.computerSalePrice}}</td>
        <td>{{item.computerDiscount}}</td>
        <td>{{item.manufacture.manufactureName}}</td>
        <td>{{item.typeComputer.typeComputerName}}</td>
        <td>{{item.cpu}}</td>
        <td>{{item.ram}}</td>
        <td>{{item.hardDrive}}</td>
        <td>{{item.graphicCard}}</td>
        <td>{{item.screen}}</td>
        <td>{{item.operatingSystem}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
