.right-msg{
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #567FEA;
  color: #fff;
  margin-left: auto;
  max-width: 200px;
  width: fit-content;
  text-align: right;
  height: fit-content;
  overflow-wrap: break-word;
}

.left-msg{
  max-width: 200px;
  width: fit-content;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #e7eaed;
  color: #222;
  text-align: left;
  overflow-wrap: break-word;
}

.box{
  margin-bottom: 8px;
  width: 100%;
}
