.overlay{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.body-modal{
  position: absolute;
  top: 0;
  left: -70%;
  width: 700px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
  cursor: auto;
  padding: 20px;
  z-index: 20;
}

.row{
  margin: 0;
}
