<div class="container-fluid header">
  <nav class="container">
    <div class="navbar__connect">
      <div class="navbar__connect-social">
        <div class="connect__pr-app">Tải ứng dụng</div>
        <div class="connect__social-app">
          <ul>
            <li>Kết nối</li>
            <li><i class="lab la-facebook"></i></li>
            <li><i class="lab la-google-plus"></i></li>
          </ul>
        </div>
      </div>
      <div class="navbar__connect-user">
        <ul [style]="{'display':isSignIn?'none':'flex'}">
          <li><i class="las la-bell"></i></li>
          <li>Thông báo</li>
          <li (click)="controlLogin()">Đăng nhập</li>
          <li (click)="controlSignUp()">Đăng ký</li>
        </ul>
        <ul [style]="{'display':isSignIn?'flex':'none'}">
          <li><i class="las la-bell"></i></li>
          <li>Thông báo</li>
          <li>{{userName}}</li>
          <li (click)="logOut()">Log out</li>
        </ul>
      </div>
    </div>
    <div class="navbar__main">
      <div class="navbar__main-logo" [routerLink]="['/client']">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/drug-shop-df6a1.appspot.com/o/logoweb3.png?alt=media&token=573997dc-e9b9-462f-b69a-af3322faadf7"
          alt="">
      </div>
      <div class="navbar__main-search">
        <input type="text" placeholder="Tìm kiếm sản phẩm ...">
        <label><i class="las la-search"></i></label>
      </div>
      <div class="navbar__main-cart" (click)="goToCart()" [routerLink]="['/client',{outlets:{'client':['payment']}}]">
        <i class="las la-shopping-cart"></i>
        <span *ngIf="numberProduct">{{numberProduct}}</span>
      </div>
    </div>
  </nav>
  <div class="filter">
    <ul class="container">
      <li class="flat">Pc,AI,Server <i class="las la-angle-down"></i></li>
      <li class="flat" [routerLink]="['/client',{outlets:{'client':['laptop']}}]">Laptop <i
        class="las la-angle-down"></i></li>
      <li class="flat">Keyboard <i class="las la-angle-down"></i></li>
      <li class="flat">mouse</li>
      <li class="flat">Monitor</li>
    </ul>
  </div>
</div>

<div class="modal" [style]="{'display':isLogin?'block':'none'}">
  <div class="modal__overlay" (click)="controlLogin()"></div>
  <div class="modal__body">
    <h5>Login</h5>
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-item username">
        <label for="username">Username</label>
        <input  type="text" placeholder="Type your username" id="username" formControlName="username">
      </div>
     <div class="form-item password">
       <label for="password">Password</label>
       <input type="password" id="password" placeholder="Type your password" formControlName="password">
     </div>
      <div class="forgot-password">
        <span>Forgot password?</span>
      </div>
      <button type="submit" class="btn-login">Login</button>
      <div class="social-login">
        <span>Or Sign Up Using</span>
        <div class="social-login-img">
          <img src="https://image.similarpng.com/very-thumbnail/2020/12/Illustration-of-Google-icon-on-transparent-background-PNG.png">
          <img src="https://banner2.cleanpng.com/20180627/egi/kisspng-facebook-inc-social-media-computer-icons-faceboo-facebook-5b336214860a65.249420121530094100549.jpg">
          <img src="https://hotro.weba.vn/shop/images/hotro/Kho-ung-dung/Zalo-chat-tructuyen/Zalo.png">
        </div>
      </div>
      <div class="other">
        <span>Or Sign Up Using</span>
        <p>Sign Up</p>
      </div>
    </form>
  </div>
</div>
