<header class="header">
  <div class="grid wide">
    <nav class="header__navbar">
      <ul class="header__navbar-list">
        <li class="header__navbar-item header__navbar-item--qr header__navbar-item-border">
          Vào cửa hàng ứng dụng Shopee
          <div class="header__qr">
            <img class="header__qr-image" src="../../../assets/access/image/d91264e165ed6facc6178994d5afae79.png"
                 alt="QR_Code">
            <div class="header_qr-apps">
              <a href="" class="header__qr-link">
                <img class="header_qr-aaps-image"
                     src="../../../assets/access/image/qr-image/39f189e19764dab688d3850742f13718.png" alt="">
              </a>
              <a class="header__qr-link" href="">
                <img class="header_qr-aaps-image"
                     src="../../../assets/access/image/qr-image/f4f5426ce757aea491dce94201560583.png" alt="">
              </a>
            </div>
          </div>
        </li>
        <li class="header__navbar-item">
          <a href="" class="header__navbar-item-link">
            <span class="header__navbar-title-no-pointer">Kết Nối</span>
          </a>
          <a href="" class="header__navbar-item-link">
            <i class="header_navbar-icon fab fa-facebook"></i>
          </a>
        </li>
      </ul>
      <ul class="header__navbar-list">
        <li class="header__navbar-item header__navbar-item-has-notify ">
          <a href="" class="header__navbar-item-link">
            <i class="header_navbar-icon far fa-bell"></i> Thông Báo
          </a>
          <div class="header__notify">
            <header class="header__notify-header">
              <h3>Thông báo mới nhận</h3>
            </header>
            <ul class="header__notify-list">
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img
                    src="https://lh3.googleusercontent.com/proxy/ASq4QE4DtTCUShQgQovz6btN0a5TsrRws-ZptG6S3XiS5NsXD_VNBROiE8kiw5uoEyk1MarCRBG2c2OxBEM1ck1tE0NfS3-ef3s9cyz8H6zPVvzYQrlRgpawTWdUb5MpjokXJEWqLmro"
                    alt="" class="header__notify-img">
                  <div class="header__notify-infor">
                      <span
                        class="header__notify-name">Mỹ Phẩm Ohui, Sản phẩm nguồn gốc chính hãng,Giá cả phải chăng</span>
                    <span class="header__notify-decription">Mô tả mỹ phẩm Ohui chính hãng, giá chỉ 375.000, xuất sứ nhật bản ...........................................</span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img
                    src="https://lh3.googleusercontent.com/proxy/ASq4QE4DtTCUShQgQovz6btN0a5TsrRws-ZptG6S3XiS5NsXD_VNBROiE8kiw5uoEyk1MarCRBG2c2OxBEM1ck1tE0NfS3-ef3s9cyz8H6zPVvzYQrlRgpawTWdUb5MpjokXJEWqLmro"
                    alt="" class="header__notify-img">
                  <div class="header__notify-infor">
                      <span
                        class="header__notify-name">Mỹ Phẩm Ohui, Sản phẩm nguồn gốc chính hãng,Giá cả phải chăng</span>
                    <span class="header__notify-decription">Mô tả mỹ phẩm Ohui chính hãng, giá chỉ 375.000, xuất sứ nhật bản ...........................................</span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img
                    src="https://lh3.googleusercontent.com/proxy/ASq4QE4DtTCUShQgQovz6btN0a5TsrRws-ZptG6S3XiS5NsXD_VNBROiE8kiw5uoEyk1MarCRBG2c2OxBEM1ck1tE0NfS3-ef3s9cyz8H6zPVvzYQrlRgpawTWdUb5MpjokXJEWqLmro"
                    alt="" class="header__notify-img">
                  <div class="header__notify-infor">
                      <span
                        class="header__notify-name">Mỹ Phẩm Ohui, Sản phẩm nguồn gốc chính hãng,Giá cả phải chăng</span>
                    <span class="header__notify-decription">Mô tả mỹ phẩm Ohui chính hãng, giá chỉ 375.000, xuất sứ nhật bản ...........................................</span>
                  </div>
                </a>
              </li>
              <li class="header__notify-item">
                <a href="" class="header__notify-link">
                  <img
                    src="https://lh3.googleusercontent.com/proxy/ASq4QE4DtTCUShQgQovz6btN0a5TsrRws-ZptG6S3XiS5NsXD_VNBROiE8kiw5uoEyk1MarCRBG2c2OxBEM1ck1tE0NfS3-ef3s9cyz8H6zPVvzYQrlRgpawTWdUb5MpjokXJEWqLmro"
                    alt="" class="header__notify-img">
                  <div class="header__notify-infor">
                      <span
                        class="header__notify-name">Mỹ Phẩm Ohui, Sản phẩm nguồn gốc chính hãng,Giá cả phải chăng</span>
                    <span class="header__notify-decription">Mô tả mỹ phẩm Ohui chính hãng, giá chỉ 375.000, xuất sứ nhật bản ...........................................</span>
                  </div>
                </a>
              </li>
              <footer class="header__notify-footer">
                <a href="" class="header__notify-footer-btn">Xem tất cả</a>
              </footer>
            </ul>
          </div>
        </li>
        <li class="header__navbar-item">
          <a href="" class="header__navbar-item-link">
            <i class="header_navbar-icon far fa-question-circle"></i> Trợ Giúp
          </a>
        </li>
        <li class="header__navbar-item header__navbar-item-bold header__navbar-item-border" [routerLink]="['/register']" *ngIf="!userName">Đăng Ký</li>
        <li class="header__navbar-item header__navbar-item-bold" [routerLink]="['/login']">Đăng Nhập</li>
        <li class="header__navbar-item header__navbar-item-bold header__navbar-item-infor" *ngIf="userName" (click)="changeStatus()">
          <div class="header__navbar-item-infor-img">
            <img src="../../../assets/download.png" alt="">
          </div>
          <div></div>
          <div class="infor-user__detail">
            <ul>
              <li>Tài khoản của tôi</li>
              <li>Đơn  mua</li>
              <li>Đăng xuất</li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- header has search -->
    <div class="header-with-search">
      <div class="header__logo" [routerLink]="['/client']">
        <img src="../../../assets/horizontal_on_white_by_logaster.png" alt="">
      </div>
      <div class="header__search">
        <div class="header__search-input-wrap">
          <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm">
          <div class="header__search-history">
            <h3 class="header__search-heading">
              Lịch sử tìm kiếm
            </h3>
            <ul class="header__search-history-list">
              <li class="header__search-item">
                <a href="">Kem dưỡng da</a>
              </li>
              <li class="header__search-item">
                <a href="">Kem dưỡng lông</a>
              </li>
              <li class="header__search-item">
                <a href="">Kem dưỡng tóc</a>
              </li>
              <li class="header__search-item">
                <a href="">Kem dưỡng tâm hồn</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__search-select">
          <span class="header__search-label">Trong shop</span>
          <i class="header__search-icon fas fa-chevron-down"></i>
          <ul class="header__search-option">
            <li class="header__search-option-item">
              <span class="">Ngoai shop</span>
              <i class="header__search-option-item-icon fas fa-check"></i>
            </li>
            <li class="header__search-option-item">
              <span class="">Trong shop</span>
              <i class="header__search-option-item-icon fas fa-check"></i>
            </li>
          </ul>
        </div>
        <button class="header__search-button">
          <i class="header__search-button-icon fas fa-search"></i>
        </button>
      </div>
      <div class="header__cart" [routerLink]="['/payment']">
        <i class="header__cart-icon fas fa-cart-plus"></i>
      </div>
    </div>
  </div>
</header>
<nav class="category">
  <div class="grid wide">
    <ul class="category-list">
      <li class="category-item" [routerLink]="['/client',{
      outlets:{'client':['laptop']}}]" routerLinkActive="category-item-active">
        <span><i class='bx bx-laptop'></i></span>
        <span>máy tính xách tay</span>
      </li>
      <li class="category-item" [routerLink]="['/client',{
      outlets:{'client':['pc-aio-server']}
      }]" routerLinkActive="category-item-active">
        <span><i class="las la-desktop"></i></span><span>pc,aio,server</span>
      </li>
      <li class="category-item" [routerLink]="['/product/accessories']"><span><i class="las la-cubes"></i></span><span>linh kiện máy tính</span></li>
      <li class="category-item" [routerLink]="['/product/monitor']"><span><i class="fas fa-desktop"></i></span><span>màn hình máy tính</span></li>
      <li class="category-item" [routerLink]="['/product/mouse-key']"><span><i class="las la-keyboard"></i></span><span>phụ kiện công nghệ</span></li>
    </ul>
  </div>
</nav>
